.cf {
  *zoom: 1;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.my-form ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.my-form {
  width: 320px;
  padding-bottom: 10px;
  margin: 0 auto;
  background-color: lightgreen;
  border-radius: 4px;
}

.my-form h1 {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  font-family: Helvetica;
  font-size: 22px;
  color: #3498db !important;
  font-weight: 400;
  border-bottom: 1px solid #aaa;
  width: 100%;
}

.form-row {
  margin: 10px auto;
  width: 90%;
  position: relative;
  border-bottom: 1px solid #aaa;
}

.form-row:hover .input-title, .form-row:active .input-title {
  opacity: 1;
  top: -5px;
}

.form-row.no-border {
  border: none;
}

.form-row .half:first-child {
  width: 48%;
  float: left;
  padding: 0 1%;
  padding-left: 0;
}

.form-row .half:last-child {
  width: 48%;
  float: right;
  padding: 0 1%;
  padding-left: 0;
}

.form-row input {
  outline: none;
  border: none;
  width: 100%;
  height: 45px;
  display: block;
  margin: 0 auto;
  font-size: 18px;
  color: #333;
  font-weight: 400;
}

.form-row .input-title {
  position: absolute;
  margin-top: 3px;
  top: -5px;
  font-family: Helvetica;
  font-size: 12px;
  color: #3498db;
  opacity: 0;
  top: 0;
  transition: all 0.5s ease;
}

.form-row .input-title.active {
  opacity: 1;
  top: -5px;
}

.form-row .input-title.active.complete {
  color: #aaa;
}

.form-row .submit {
  width: 100%;
  padding: 10px 0;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  font-family: Helvetica;
  font-weight: 400;
  font-size: 18px;
  transition: all 0.2s ease;
}

.form-row .submit:hover {
  background-color: #4aa3df;
}

.form-row .submit:active {
  background-color: #258cd1;
}